body {
    width: 100%;
    height: 100vh;
    margin: 0;
    /* background-color: #1b1b32; */
    background-image: url('https://model001.s3.jp-tok.cloud-object-storage.appdomain.cloud/pngtree.jpg');
    color: #f3f3f3;
    font-family: Tahoma;
      font-size: 16px;
      background-size: cover;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
      padding: 2rem 0;
  }
  
  fieldset:not(:last-of-type) {
    border-bottom: 3px solid #3b3b4f;
  }
  
  label {
    display: block;
      margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
      width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: none;
    border: 1px solid #0a0a23;
    border-radius: 5px;
    color: #111010;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #ffffff;
    border-color: rgb(11, 11, 11);
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  
  a {
    color: #dfdfe2;
  }
  
  button a:link { 
    text-decoration: none;
}
button a:visited { text-decoration: none; color:#ffffff;}

button a:hover { text-decoration: none; color:#ffffff; }

a:active { text-decoration: none; }

button{
  background-color: rgb(21, 142, 21);
  border-color: rgb(21, 142, 21);
  size: 5px;
}