/* Store this code in 'style.css' file inside the 'static' folder*/

			.header{
				padding: 5px 120px;
				width: 150px;
				height: 70px;
				background-color: #595858;
			}
		
			.border{
				padding: 80px 50px;
				width: 400px;
				height: 450px;
				border: 1px solid #595858;
				border-radius: 0px;
				background-color: #B6B6B6;
			}

			.btn {
				padding: 10px 40px;
				background-color: #595858;
				color: #FFFFFF;
				font-style: oblique;
				font-weight: bold;
				border-radius: 10px;
			}

			.textbox{
				padding: 10px 40px;
				background-color: #595858;
				text-color: #FFFFFF;
				border-radius: 10px;
			}
				
			::placeholder {
				color: #FFFFFF;
				opacity: 1;
				font-style: oblique;
				font-weight: bold;
			}

			.word{
				color: #FFFFFF;
				font-style: oblique;
				font-weight: bold;
			}

			.bottom{
				color: #3E3D3D;
				font-style: oblique;
				font-weight: bold;
			}

			/* Chrome, Safari, Edge, Opera */
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			  -webkit-appearance: none;
			  margin: 0;
			}

			/* Firefox */
			input[type=number] {
			  -moz-appearance: textfield;
			}